version: '3.7'
services:
  zookeeper:
    image: zookeeper:3.5.6
    container_name: "zookeeper-wiki"
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
  pulsar:
    image: apachepulsar/pulsar:2.10.0
    command: "bin/pulsar standalone"
    restart: unless-stopped
    container_name: "pulsar"
    ports:
      - "6650:6650"
      - "8080:8080"
  pinot-controller:
    image: apachepinot/pinot:0.11.0-arm64
    command: "StartController -zkAddress zookeeper-wiki:2181"
    container_name: "pinot-controller-wiki"
    volumes:
      - ./config:/config
      - ./data:/data
      - ./plugins/pinot-pulsar-0.11.0-shaded.jar:/opt/pinot/plugins/pinot-stream-ingestion/pinot-pulsar/pinot-pulsar-0.11.0-shaded.jar
    restart: unless-stopped
    ports:
      - "9000:9000"
    depends_on:
      - zookeeper
  pinot-broker:
    image: apachepinot/pinot:0.11.0-arm64
    command: "StartBroker -zkAddress zookeeper-wiki:2181"
    restart: unless-stopped
    container_name: "pinot-broker-wiki"
    volumes:
      - ./config:/config
    ports:
      - "8099:8099"
    depends_on:
      - pinot-controller
  pinot-server:
    image: apachepinot/pinot:0.11.0-arm64
    command: "StartServer -zkAddress zookeeper-wiki:2181"
    restart: unless-stopped
    container_name: "pinot-server-wiki"
    volumes:
      - ./config:/config
      - ./plugins/pinot-pulsar-0.11.0-shaded.jar:/opt/pinot/plugins/pinot-stream-ingestion/pinot-pulsar/pinot-pulsar-0.11.0-shaded.jar
    ports:
      - "8098:8098"
      - "8097:8097"
    depends_on:
      - pinot-broker
